$OptionButtonColor: rgb(24, 212, 149);
$MainBG: rgb(245, 204, 129);

#Title {

    text-align: center;
}
#theGame {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 28%;
    padding-top:100px;


}



#CheckPuzzle {

    border-radius: 0;
    padding: 25px;
    margin-top: 20px;
    margin-left:20px;
    background-color: $OptionButtonColor
}

#GiveAnswer {


    border-radius: 0;
    padding: 25px;
    margin-top: 20px;
    margin-left:20px;
    background-color: $OptionButtonColor
}

button {
    padding: 40px;
    border-radius: 90px;
    border: none;
}

body {

    background-color: $MainBG;

}

input[type="checkbox" i] {

    margin-left: 40px;
    
}

.checkboxDiv {

    margin: 20px;
    text-align:start;

}

label {

    background-color: $OptionButtonColor;
}

